
<h2 style="text-align: center;padding: 20px;">Handy Links</h2>
<p style="text-align: justify;">El propósito de esta página es recopilar recursos de uso común en un solo lugar al que puedo acceder desde cualquier dispositivo y compartir rápidamente con otros.</p>

<h3>Electronics</h3>
<ul>
    <li>
        <p>
            <a target="_blank" href="http://resistor.cherryjourney.pt/">
                Resistor Calculator
            </a>
        </p>
    </li>
</ul>

<h3  style="text-align: center;">-- Programming --</h3>
<h3>Python</h3>
<ul>
    <li>
        <p>
            <a target="_blank" href="https://www.foragoodstrftime.com/">
                String formats for time
            </a>
        </p>
    </li>
</ul>
<h4>icos</h4>
<a href="https://github.com/99x/emojicpp">Links a los icons</a>
<p>⚠️ 🎯 🌎  🔌 💾  🍀 ⚙️ 📗 🕹️ ⌨️ 🔒 🔑 🎚️ 🔗  📱 </p>
   
 