<div class="col mt-4">
  <div class="timeline-body bg-themed">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">
          <h2>{{ item.company }}</h2>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <h4>{{ item.job }}</h4> 
          <ul>
          {% for task in item.description %}
          <li>{{ task }}</li>
          {% endfor %}
          </ul>
          {% for tag in item.tags %}
          <spam class='badge badge-pill text-primary border border-primary ml-1'>#{{ tag }}</spam>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>